.auth_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background: linear-gradient(135deg, #3b0026, #6a003f);
  background-image: url("/images/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth_image {
  background: url("/images/auth-left.png") no-repeat center center;
  background-size: contain;
  grid-column: 1 / 2;
  height: 100vh;
}

.auth_form_container {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  padding: 20px;
  overflow: auto;
  align-items: center;
}

.auth_form {
  max-width: 600px;
  width: 100%;
}

.businessForm3 {
  max-width: 600px;
}

.auth_form .form_head {
  text-align: center;
}

.auth_form .form_head h2 {
  font-weight: bolder;
  font-size: 22px;
  padding-bottom: 5px;
}

.auth_form .form_head p {
  font-family: "Inter";
  font-size: 16px;
}

.auth_form form {
  padding-top: 20px;
}

.auth_form form label {
  color: #000;
  font-family: 'Inter', sans-serif;
}



@media only screen and (max-width: 768px) {
  .auth_container {
    grid-template-columns: unset;
  }

  .auth_image {
    display: none;
  }

  .auth_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    padding: 20px;
  }

}